<a href="https://colab.research.google.com/github/Anchihoon/Python-practice/blob/main/An%20python%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def who_are_you(name,age): #새로운 함수 정의
  print('이름:',name)
  print('나이:',age)       #매개변수값 출력
 
who_are_you('안치훈',23)

이름: 안치훈
나이: 23

In [ ]:
def who_are_you(name,age):
  print('이름:',name)
  print('나이:',age)

who_are_you(name='안치훈',age=23)

이름: 안치훈
나이: 23

In [ ]:
def who_are_you(name,age=31):
  print('이름:',name)
  print('나이:',age)

who_are_you('안치훈')
print()
who_are_you('안치훈',21)

이름: 안치훈
나이: 31

이름: 안치훈
나이: 21

In [ ]:
def calc (x,y,z):
  return x+y+z

print(calc(1,y=2,z=4)) #keyword argument 값이 앞에 있으므로 정상출력

7

In [ ]:
def calc (x,y,z):
  return x+y+z

print(calc(x=1,y=2,4)) #keyword argument 값이 뒤에 나오지 않으면 오류가 발생한다.

SyntaxError: ignored

In [ ]:
def sum_all(a,b,c,d):
  result=0
  for i in [a,b,c,d]:
    result += i
  return result

sum_all(1,2,3,4)

10

In [ ]:
def sum_all(*args):
  result=0
  for i in args:
    result += i
  return result

print(sum_all(1,2,3,4,5,6,7,8,9,10,11))

lst = [1,2,3,4,5,6]
print(sum_all(*lst))

66
21

In [ ]:
def test_dic(**kwargs):
  print(kwargs)
  print(type(kwargs))

test_dic(one=1,two=2,three=3,four=4,five=5)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
<class 'dict'>

In [ ]:
example = 'www.naver.co.kr'

In [ ]:
subdomain,domain,itld,cctld = example.split('.')

In [ ]:
print(subdomain)
print(domain)
print(itld)
print(cctld)

www
naver
co
kr

In [ ]:
from os import close
color = ['blue','red','yellow','green']
a= ''.join(color)
b= ' '.join(color)
c= ','.join(color)
print(a)
print(b)
print(c)

blueredyellowgreen
blue red yellow green
blue,red,yellow,green

In [ ]:
list(map(lambda x:x**2,[1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [ ]:
list(filter(lambda x:x<5 , range(10)))

[0, 1, 2, 3, 4]

In [ ]:
list(filter(lambda x:x>5 , range(10)))

[6, 7, 8, 9]

In [ ]:
from functools import *
reduce(lambda x,y : x+y,[0,1,2,3,4])

10

In [ ]:
for i,v in enumerate(['zero','one','two']):
  print(i,v)

0 zero
1 one
2 two

In [ ]:
mylst = ['a','b','c','d']
list(enumerate(mylst))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [ ]:
alst=['a1','a2','a3']
blst=['b1','b2','b3']

for a,b in zip(alst,blst):
  print(a,b)

a1 b1
a2 b2
a3 b3

In [ ]:
{i:j for i, j in enumerate(['zero','one','two'])}

{0: 'zero', 1: 'one', 2: 'two'}

In [ ]:
list(filter(lambda x:x%2==1, range(10)))

[1, 3, 5, 7, 9]

In [ ]:
list(filter(lambda x:x%2, range(10))) #==1 을 없애도 동일한 출력이 나옴

[1, 3, 5, 7, 9]

In [ ]:
from functools import reduce
reduce(lambda x,y: y+x ,'abcd') #b와 a를 더해 x로, y에 c가 들어와서 x를 cba로, y에 d를 넣어서 x를 dcba로 만든다.

'dcba'

In [ ]:
for k,l in enumerate('A good medicine tastes bitter'.split()):
     print(k,l)

0 A
1 good
2 medicine
3 tastes
4 bitter

In [ ]:
x=(1,2,3)
y=(10,20,30)
z=(100,200,300)

a,b,c =zip(x,y,z)
print(a,b,c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [ ]:
gu = ['노원구','관악구','성동구']
dong = ['공릉동','사당동','성수동']

for i,j in zip(gu,dong):
  print (i,j+'에 살아요.')

노원구 공릉동에 살아요.
관악구 사당동에 살아요.
성동구 성수동에 살아요.

In [ ]:
[x**3 for x in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
{i:j for i,j in enumerate('A good medicine tastes bitter'.split())}

{0: 'A', 1: 'good', 2: 'medicine', 3: 'tastes', 4: 'bitter'}

In [ ]:
class Person : # 클래스의 이름은 대부분 대문자로 시작
  pass         # 그냥 아무것도 없이 넘어가라

In [ ]:
p = Person() #Person이라는 클래스에서 p라는 객체를 생성해주는것
print(p)

<__main__.Person object at 0x7f2a48203c70>

In [ ]:
class Person :
  def hi (self): #클래스 안에 함수를 만들때 self 라는 매개변수를 무조건 넣어야된다.
    print('hi~')

In [ ]:
p = Person()

In [ ]:
p.hi() #p라는 객체에서 hi라는 함수를 호출해라

hi~

In [ ]:
class Counter :

  def reset(self):
    self.count=0      #객체내의 변수는 self.을 써줘여됨 객체자기자신의 카운터 변수라는 의미

  def increment(self):
    self.count+=1     #객체내의 카운터를 1증가시켜라

  def get(self):
    return self.count

In [ ]:
c=Counter()

In [ ]:
c.reset()
c.increment()
c.increment()
c.increment()
c.increment()
print('카운트 값:',c.get())

카운트 값: 3

In [ ]:
a = Counter()
b = Counter()

In [ ]:
a.reset()
a.increment()
b.reset()

In [ ]:
print('a 객체 카운트 값:',a.get()) 
print('b 객체 카운트 값:',b.get()) #서로 별개의 count 변수가 적용되는거임 다른 객체이므로

a 객체 카운트 값: 1
b 객체 카운트 값: 0