<a href="https://colab.research.google.com/github/Anchihoon/Python-practice/blob/main/An%20python%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count = 0

while count < 5 :
  print('파이썬은 즐거워')
  count = count + 1
print('count =',count)

파이썬은 즐거워
파이썬은 즐거워
파이썬은 즐거워
파이썬은 즐거워
파이썬은 즐거워
count = 5

In [ ]:
number = 1
total = 0 #합을 구하기 위해 빈변수를 새로 만듦
while number <= 10:
  total = total + number
  number += 1 #number = number +1 과 같은 연산자(복합대입연산자)

print('1부터 10까지의 합은',total)

1부터 10까지의 합은 55

In [ ]:
end = int(input('끝 숫자 입력: '))
number = 1
total = 0 #합을 구하기 위해 빈변수를 새로 만듦
while number <= end:
  total = total + number
  number += 1 #number = number +1 과 같은 연산자(복합대입연산자)

print('1부터' , end, '까지의 합은',total)

끝 숫자 입력: 10
1부터 10 까지의 합은 55

In [ ]:
start = int(input('시작 숫자 입력: '))
end = int(input('끝 숫자 입력: '))
number = start
total = 0 #합을 구하기 위해 빈변수를 새로 만듦
while number <= end:
  total = total + number
  number += 1 #number = number +1 과 같은 연산자(복합대입연산자)

print(str(start)+'부터' , str(end) + '까지의 합은:', total) #띄어쓰기 없앨려고 str 사용

시작 숫자 입력: 1
끝 숫자 입력: 30
1부터 30까지의 합은: 465

In [ ]:
drinks = ['콜라','사이다','환타']
coin = int(input("동전을 넣으세요:"))

while coin >= 500:
  print("\n현재 금액:", coin,"원")
  sel = int(input("콜라(0), 사이다(1), 환타(2): "))
  print(str(drinks[sel])+"가 나왔습니다.")
  coin -= 500 #coin = coin - 500과 같은 연산자

print("거스름돈:", coin, "원")

동전을 넣으세요:700

현재 금액: 700 원
콜라(0), 사이다(1), 환타(2): 2
환타가 나왔습니다.
거스름돈: 200 원

In [ ]:
goods = ['커피', '우유', '바나나', '감귤', '화장지', '장갑', '이불', '베개', '장난감', '음료수', '빵']
print('상품재고관리 프로그램')
print()
print('=' *110)
print(goods)
print('=' *110)

a = input('상품관리-삽입) 삽입하고자 하는 상품은?')
b = int(input('상품관리-삽입) 삽입하고자 하는 위치는?'))
goods.insert(b,a)
print(a,'삽입 완료')
print('=' *110)
print(goods)
print('=' *110)

상품재고관리 프로그램

==============================================================================================================
['커피', '우유', '바나나', '감귤', '화장지', '장갑', '이불', '베개', '장난감', '음료수', '빵']
==============================================================================================================
상품관리-삽입) 삽입하고자 하는 상품은?배
상품관리-삽입) 삽입하고자 하는 위치는?4
배 삽입 완료
==============================================================================================================
['커피', '우유', '바나나', '배', '감귤', '화장지', '장갑', '이불', '베개', '장난감', '음료수', '빵']
==============================================================================================================

In [ ]:
goods = ['커피', '우유', '바나나', '감귤', '화장지', '장갑', '이불', '베개', '장난감', '음료수', '빵']
print('상품재고관리 프로그램')
print()
print('=' *110)
print(goods)
print('=' *110)

a = input('상품관리-삭제) 삭제하고자 하는 상품은?')
if a in goods : #a가 goods 안에 있냐 라는 뜻, remove랑 같이 자주쓰임
   goods.remove(a) #잘못입력하면 오류가나기때문에 혼자 사용하지않음 그래서 if문 사용 
   print(a,'삭제 완료')
else :
   print(a+ '상품이 없습니다')
print('=' *110)
print(goods)
print('=' *110)

상품재고관리 프로그램

==============================================================================================================
['커피', '우유', '바나나', '감귤', '화장지', '장갑', '이불', '베개', '장난감', '음료수', '빵']
==============================================================================================================
상품관리-삭제) 삭제하고자 하는 상품은?장난감
장난감 삭제 완료
==============================================================================================================
['커피', '우유', '바나나', '감귤', '화장지', '장갑', '이불', '베개', '음료수', '빵']
==============================================================================================================

In [ ]:
list = ['02-334-0000', '서울시', '노원구', '행복동', '가즈아로', '낙엽', '패딩점퍼']
print(list[1:5])
print(list[-6:-2])
print(list[1:-2])
print(list[-1:-4:-1])

['서울시', '노원구', '행복동', '가즈아로']
['서울시', '노원구', '행복동', '가즈아로']
['서울시', '노원구', '행복동', '가즈아로']
['패딩점퍼', '낙엽', '가즈아로']

In [ ]:
n = input('학생들의 이름 입력(,로 구분):')
m = input('학생들의 국어성적 입력(,로 구분):')

names = n.split(',') #,로 구분해서 리스트가 생길수있게 함
scores = m.split(',')#,로 구분해서 리스트가 생길수있게 함

sum = 0
i = 0 #인덱스 번호 때문에 사용
while i < len(names) :#네임즈에있는 아이템의 갯수가 몇개인지 알려주는 함수
  sum = sum + int(scores[i]) #문자열을 숫자열로 받기위해 int사용
  i = i + 1
print('Sum:',sum)

학생들의 이름 입력(,로 구분):영희, 철수, 미나
학생들의 국어성적 입력(,로 구분):23, 53, 64
Sum: 140